/* Základní styly */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-between; /* Zajišťuje, že logo a menu jsou na opačných stranách */
  align-items: center;
  background-color: #00940C;
  padding: 15px;
  color: white;
  position: relative; /* Zajistí, že menu bude pozicováno relativně k headeru */
}

.logo {
  margin: 0;
}

nav ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  margin-left: 20px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 16px;
}

/* Mobilní hamburger menu button */
.menu-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
  position: relative; /* Pozicováno relativně k headeru */
}

.menu-toggle .bar {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 4px 0;
}

/* Výchozí zobrazení navigace */
#nav {
  display: flex;
}

.logo img {
  width: 150px; /* Můžeš upravit šířku dle potřeby */
  height: auto; /* Zachování poměru stran */
}

.geo-container {
  padding: 20px;
  text-align: center;
}

h1 {
  color: white;
  font-weight: bold;
  font-size: 6rem;
  margin: 0;
  text-shadow: 
    -1px -1px 0 rgb(60, 60, 60),  
     1px -1px 0 rgb(60, 60, 60),
    -1px  1px 0 rgb(60, 60, 60),
     1px  1px 0 rgb(60, 60, 60);
}


.dropdown {
  position: relative;
  width: 300px;
  margin: 0 auto; /* Centrovat dropdown na střed stránky */
  text-align: center;
}

.dropdown-btn {
  background-color: #00940C;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 50px;
  width: 100%;
  box-sizing: border-box;
  text-align: left;
  padding-left: 15px;
}

.dropdown-btn:hover {
  background-color: #555;
}

.dropdown-content {
  display: block;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 100%;
  max-height: 200px; /* Maximální výška pro obsah dropdownu */
  overflow-y: auto; /* Scrollovatelný obsah pokud je moc položek */
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 20px;
  padding: 10px;
  top: 100%;
  left: 0;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  cursor: pointer;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

/* Styl pro zprávu o nenalezených výsledcích */
.dropdown-content p {
  padding: 12px 16px;
  text-align: left;
  color: #999;
}

.dropdown.show .dropdown-content {
  display: block;
}

@media (max-width: 768px) {
  nav ul {
      flex-direction: column;
      position: absolute;
      top: 60px;
      right: 0; /* Menu bude zarovnané k pravému okraji */
      background-color: #00940C;
      width: 200px;
      height: 100vh;
      padding-top: 20px;
      display: none; /* Skryjeme navigaci na mobilu */
  }

  nav ul li {
      margin-left: 0;
      text-align: center;
      margin-bottom: 20px;
  }


  /* Zobrazíme hamburger menu na menších obrazovkách */
  .menu-toggle {
      display: flex;
      position: absolute;
      right: 0; /* Hamburger menu je nyní zarovnáno k pravému okraji headeru */
      top: 15px;
      padding-right: 15px;
  }

  /* Když je navigace otevřená (přidána třída "open") */
  #nav.open ul {
      display: block; /* Zobrazí menu po kliknutí na hamburger */
  }

  .logo img {
      width: 120px; /* Menší šířka pro mobilní zobrazení */
  }
}
