/* Základní styly */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header, footer{
  display: flex;
  justify-content: space-between; /* Zajišťuje, že logo a menu jsou na opačných stranách */
  align-items: center;
  background-color: #00940C;
  padding: 15px;
  max-height: 60px;
  color: white;
  position: relative; /* Zajistí, že menu bude pozicováno relativně k headeru */
}

footer > *{
  display: flex;
  flex-direction: row;
}


.logo {
  margin: 0;
}

.logo img {
  width: 100px; /* Můžeš upravit šířku dle potřeby */
  height: auto; /* Zachování poměru stran */
}

.geo-container {
  padding-bottom: 25px;
  text-align: center;
}

h1 {
  color: white;
  font-weight: bold;
  font-size: 6rem;
  margin: 0;
  text-shadow: 
    -1px -1px 0 rgb(60, 60, 60),  
     1px -1px 0 rgb(60, 60, 60),
    -1px  1px 0 rgb(60, 60, 60),
     1px  1px 0 rgb(60, 60, 60);
}


.dropdown {
  position: relative;
  width: 300px;
  margin: 0 auto; /* Centrovat dropdown na střed stránky */
  text-align: center;
}

.dropdown-btn {
  background-color: #00940C;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 50px;
  width: 100%;
  box-sizing: border-box;
  text-align: left;
  padding-left: 15px;
}

.dropdown-btn:hover {
  background-color: #555;
}

.dropdown-content {
  display: block;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 100%;
  max-height: 200px; /* Maximální výška pro obsah dropdownu */
  overflow-y: auto; /* Scrollovatelný obsah pokud je moc položek */
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 20px;
  top: 100%;
  left: 0;
  z-index: 5;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  cursor: pointer;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

/* Styl pro zprávu o nenalezených výsledcích */
.dropdown-content p {
  padding: 12px 16px;
  text-align: left;
  color: #999;
  
}

.dropdown.show .dropdown-content {
  display: block;
}



#map, #informationFrame {
  width: 20%; /* Šířka mapy */
  height: 300px; /* Výška mapy */
  padding: 5rem; /* Vnitřní odsazení */
  margin-bottom: 20px;
  border: 5px solid #00940C; /* Zelený okraj */
  border-radius: 35px; /* Zaoblené rohy */  
  display: table;
  z-index: -1;
}

#map{
  margin: 0 auto;
}

.cont{
  display: flex;
  flex-direction: row;
}
.cont div {
  margin: 0 auto;
}


@media (max-width: 768px) {
  .cont{
    flex-direction: column;
  }
}

footer div h4{
  margin-left: 10px;
}
